include modules/head
body
  include modules/nav
  main.more
    h1.more__logo.center-align Как работает этот сайт?
    .row
      .col.s10.offset-s1
        p.
          У всех есть куча рецептов и идей для блюд которые мы можем приготовить, 
          тем не менее, каждый раз встает вопрос: а что же приготовить сегодня?
        p.
          Этот сайт предназначен для хранения, и удобного выбора рецептов и 
          блюд к ним. Он может понадобиться, если вы не знаете, что конкретно приготовить.
        p.
          Чтобы добавить свое блюдо зайдите на страницу "Редактировать блюда" с помощью меню 
          "Дополнительно" или отдельной кнопки на навигационной панели. После перехода, вы увидите форму создания нового блюда, а 
          под ним список всех блюд, добавленных вами. Вы можете редактировать этот список с помощью кнопок: Удалить, изменить, показать подробнее.
        p.
          На главной странице вы можете сгенерировать блюдо. Оно берется из всего, что вы добавили на вкладке "Редактировать блюда". 
          Вы можете либо отказаться от предложенного блюда и сгенерировать его снова, либо сохранить его, тогда оно добавиться в меню под генерацией, а сама генерация будет отредактирована в соответствии с настройками.
  include modules/scripts